.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}

.container label {
  padding-right: 100px;
  font-size: 20px;
  font-weight: 300;
  text-align: end;
}

.heading {
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.container input {
  font-size: 15px;
  font-weight: 300;
  width: 250px;
  height: 25px;
}

.container select {
  font-size: 15px;
  font-weight: 300;
}

.container .error {
  font-size: 12px;
  height: 15px;
  color: red;
  margin-left: 0;
}

.required {
  color: red;
  font-size: 17px;
  margin-right: 50px;
}

.container div {
  margin-left: 75px;
}
