* {
  box-sizing: border-box;
}
.container {
  display: gird;
  grid-template-columns: repeat(8, 1fr);
  height: 40vh;
  margin: 50px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

.wrap-input {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

.grid {
  display: grid;
}

.fname-form {
  grid-column: 1/4;
}

.lname-form {
  grid-column: 5/8;
}
.email-form {
  grid-column: 1/4;
}
.mobileNo-form {
  grid-column: 1/4;
}
.age-form {
  grid-column: 5/8;
}
.error {
  width: 100%;
  color: red;
  font-size: 12px;
  height: 12px;
}
label {
  display: inline;
  font-size: 15px;
}

.input-text {
  height: 30px;
  font-size: 15px;
}

.required {
  font-size: 15px;
  color: red;
}
